<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmasi.lmasi.yous">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/yous_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name="com.lmasi.yous.Activity_home"/>
        <activity android:name="com.lmasi.yous.Activity_Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lmasi.yous.MainActivity">

        </activity>

        <activity android:name="com.lmasi.yous.Activity_Login"/>
        <activity android:name="com.lmasi.yous.Activity_SignUp"/>
        <activity android:name="com.lmasi.yous.Activity_SignUp2"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>

        </activity>

        <activity android:name="com.lmasi.yous.Activity_Main">



        </activity>

        <activity android:name="com.lmasi.yous.Activity_Summary"/>
        <activity android:name="com.lmasi.yous.Activity_Agree"/>
        <activity android:name="com.lmasi.yous.Activity_disagree"/>
        <activity android:name="com.lmasi.yous.Activity_Result"/>
        <activity android:name="com.lmasi.yous.Activity_SearchMain"/>
        <activity android:name="com.lmasi.yous.Activity_PopUp" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
    </application>

</manifest>